body {
  font-family: "Lato", Arial, sans-serif;
  margin: 0;
}

#us-map {
  float: left;
  width: 640px;
  height: 100%;
}

.map {
  position: relative;
  margin-left: 321px;
  width: 640px;
  height: 100%;
  max-height: 996px;
}

.MicrosoftMap {
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  width: auto !important;
  height: auto !important;
}

.dir-container {
  position: absolute;
  left: 50%;
  margin: 0 0 30px -480px;
  top: 104px;
  bottom: 0;
  border: 1px solid #cccccc;
  width: 961px;
  min-height: 680px;
  max-height: 996px;
}

.dir-list {
  position: relative;
  height: 100%;
  width: 320px;
  float: left;
  border-right: 1px solid #cccccc;
}

.dir-header {
  position: absolute;
  height: 60px;
  line-height: 60px;
  left: 0;
  right: 0;
  padding-left: 10px;
  font-weight: bold;
  border-bottom: 1px solid #cccccc;
}

.dir-content {
  display: inline-block;
  width: 132px;
  margin: 10px;
  padding: 0;
  vertical-align: top;
}

.dir-content-wrapper {
  position: absolute;
  overflow: auto;
  bottom: 0;
  top: 61px;
  left: 0;
  right: 0;
}

.dir-content li {
  list-style-type: none;
}

a.dir-next-level,
a.dir-next-level:visited {
  text-decoration: none;
  color: #0076a3;
  line-height: 24px;
}

a.dir-next-level:hover {
  text-decoration: none;
  color: #0076a3;
  line-height: 24px;
}

/** Styling for head (and breadcrumbs) **/

.inner-wrapper {
  width: 940px;
  padding: 0 20px;
  height: 100%;
  margin: 0 auto;
  position: relative;
}

header {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  background: #eaeaea; /* Old browsers */
  background: -moz-linear-gradient(top,  #eaeaea 0%, #f4f4f4 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eaeaea), color-stop(100%,#f4f4f4)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #eaeaea 0%,#f4f4f4 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #eaeaea 0%,#f4f4f4 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #eaeaea 0%,#f4f4f4 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #eaeaea 0%,#f4f4f4 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eaeaea', endColorstr='#f4f4f4',GradientType=0 ); /* IE6-9 */
}

#company-logo {
  height: 40px;
  padding: 20px 0;
}

#company-logo img {
  height: 40px;
  float: left;
}

#search input {
  float: right;
  margin-top: 26px;
  margin-right: 15px;
}

.breadcrumb-separator {
  color: #bbbbbb;
  font-size: 8px;
}

#breadcrumbs {
  background-color: #48413c;
  color: #fff;
  height: 24px;
  line-height: 19px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

#breadcrumbs a,
#breadcrumbs a:active,
#breadcrumbs a:visited,
#breadcrumbs a:link {
  color: #bbbbbb;
  font-size: 12px;
  font-weight: bold;
  text-decoration: none;
}

#breadcrumbs a.selected,
#breadcrumbs a:active.selected,
#breadcrumbs a:visited.selected,
#breadcrumbs a:link.selected {
  color: #fff;
}

/** Styling for listView template **/

.generic-wrapper {
  width: 100%;
  display: inline-block;
  text-align: center;
}

.generic-list {
  padding: 0 10px;
  display: inline-block;
  max-width: 960px;
  width: 100%;
  border: 1px solid #ccc;
}

.generic-list li {
  list-style-type: none;
}

.generic-list ul {
  max-width: 140px;
  padding: 10px 20px;
  margin-top: -1px;
}

.list-column {
  float: left;
  border-top: 1px solid #ccc;
}

a.list-next-level {
  color: #0076a3;
  font-size: 14px;
  line-height: 24px;
  font-weight: lighter;
  text-decoration: none;
}

a.list-next-level:hover {
  text-decoration: underline;
}

/** Location lists **/
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.location {
  border-bottom: 1px solid #ddd;
  padding: 18px 10px 18px 10px;
  min-height: 108px;
  font-size: 14px;
}

.location:hover,
.location.hover {
  background: #f1f1f1;
}

.business-name {
  font-weight: bold;
  padding-bottom: 5px;
}

.address,
.phone {
  font-weight: 300;
}

div.hours {
  margin-top: 18px;
}

.open-label {
  background-color: #68eb94;
}

.closed-label {
  background-color: #ff0000;
}

.open-label,
.closed-label {
  text-align: center;
  width: 60px;
  height: 18px;
  color: #fff;
}

.location-status {
  float: right;
  margin-left: 20px;
}

.business-info {
  margin-right: 90px;
}

.hours img,
.hours-content {
  vertical-align: top;
}

.hours img {
  float: left;
  margin-top: 2px;
}

.hours-content {
  margin-left: 30px;
}

.hours-content table.hours {
  width: 100%;
}

.hours-content td.hours {
  text-align: right;
}

.hours-content td {
  font-size: 14px;
}

.cross-line {
  text-decoration: line-through;
}

.holiday {
  color: #EE0000;
}

.map .location {
  background: #fff;
  width: 300px;
  border: 1px solid #ff3926;
  position: relative;
}

.map .infobox-arrow-down,
.map .infobox-arrow-down-border {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  position: absolute;
  left: 140px;
}

.map .infobox-arrow-down {
  border-top: 8px solid #ff3926;
}

.map .infobox-arrow-down-border {
  border-top: 8px solid #fff;
  bottom: -7px;
}

.location a,
.location a:visited,
.location a:active {
  color: #393939;
  text-decoration: none;
}

.locale-switcher a,
.locale-switcher a:visited {
  text-decoration: none;
  color: #0076a3;
  margin-left: 10px;
  line-height: 24px;
  font-size: 14px;
}

.locale-switcher a:hover {
  text-decoration: underline;
  color: #0076a3;
  line-height: 24px;
  font-size: 14px;
}

.locale-switcher {
  background: #fff;
  color: #666666;
  font-size: 14px;
  width: 100%;
  padding: 0 auto;
}
