html,
body {
  font-family: Lato, Arial;
  font-size: 12px;
  color: #363636;
}

h1,
h2 {
  font-family: Georgia, Arial;
  text-transform: uppercase;
}

h1 {
  font-size: 24px;
  color: #ff3925;
}

h2 {
  font-size: 18px;
  color: #363636;
  margin: 20px 0;
}

h3 {
  font-family: Lato, Georgia, Arial;
  font-size: 14px;
  font-weight: bold;
}

.icn {
  display: inline-block;
  vertical-align: middle;
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  font-size: 17px;
  font-style: normal;
}

.icn.expand-icn {
  background-color: #ff3925;
  color: #fff;
}

.expand-icn:before {
  content: '+';
}

.less .expand-icn:before {
  content: '-';
}

.wide-wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

.inner-wrapper {
  width: 940px;
  padding: 0 20px;
  height: 100%;
  margin: 0 auto;
  position: relative;
}

header {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  background: #eaeaea; /* Old browsers */
  background: -moz-linear-gradient(top,  #eaeaea 0%, #f4f4f4 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eaeaea), color-stop(100%,#f4f4f4)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #eaeaea 0%,#f4f4f4 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #eaeaea 0%,#f4f4f4 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #eaeaea 0%,#f4f4f4 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #eaeaea 0%,#f4f4f4 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eaeaea', endColorstr='#f4f4f4',GradientType=0 ); /* IE6-9 */
}

.paginate {
  position: relative;
  display: inline-block;
  font-size: 20px;
  text-indent: -9999px;
  cursor: pointer;
  background: url('../../images/carousel-arrows.png');
  width: 20px;
  height: 22px;
}

.paginate.left {
  float: left;
}

.paginate.right {
  float: right;
  background-position: 0 -22px;
}

#company-logo {
  height: 40px;
  padding: 20px 0;
}

#company-logo img {
  height: 40px;
  float: left;
}

#search input {
  float: right;
  margin-top: 26px;
  margin-right: 15px;
}

.breadcrumb-separator {
  color: #bbbbbb;
  font-size: 8px;
}

#breadcrumbs {
  background-color: #48413c;
  color: #fff;
  height: 24px;
  line-height: 24px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

#breadcrumbs a,
#breadcrumbs a:active,
#breadcrumbs a:visited,
#breadcrumbs a:link {
  color: #bbbbbb;
  font-size: 12px;
  font-weight: bold;
  text-decoration: none;
}

#breadcrumbs a.selected,
#breadcrumbs a:active.selected,
#breadcrumbs a:visited.selected,
#breadcrumbs a:link.selected {
  color: #fff;
}

#cover-photo {
  background: url('../../images/default-cover-photo.png') no-repeat;
  background-size: cover;
  height: 294px;
}

#cover-photo .address-label {
  position: absolute;
  right: 340px;
  bottom: 22px;
  font-family: Georgia, Arial;
  font-size: 18px;
  display: inline-block;
  background-color: #ff3925;
  color: #fff;
  opacity: .75;
  padding: 8px 9px;
  text-transform: uppercase;
}

#location-info {
  width: 620px;
}

#contact-info {
  position: relative;
  margin: 32px 0 34px;
  font-size: 18px;
  line-height: 24px;
}

#contact-info  h1 {
  margin-bottom: 34px;
}

#contact-info .address,
#contact-info .phone-number {
  font-size: 18px;
  line-height: 24px;
}

.social-media {
  position: absolute;
  top: 0;
  right: 0;
}

.social-icn {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin-right: 10px;
  background: url('../../images/social-sprite.png') no-repeat;
}

.social-icn.fb-icon {
  background-position: 0 0;
}

.social-icn.twitter-icn {
  background-position: -40px 0;
}

.social-icn.google-icn {
  background-position: -80px 0;
}

.social-icn.foursquare-icn {
  background-position: -360px 0;
}

.social-icn.yelp-icn {
  background-position: -440px 0;
}

.social-icn.more-icn {
  background-position: -120px 0;
}

.social-icn:last-child {
  margin-right: 0;
}

#feature-message {
  background-color: #ff3925;
  color: #fff;
  font-weight: bold;
  font-size: 14px;
  margin-bottom: 25px;
  padding: 10px 9px;
}

#description {
  margin-bottom: 28px;
  font-size: 14px;
}

#operation-hours {
  margin-bottom: 20px;
}

.hours {
  font-size: 14px;
  font-weight: 100;
  width: 100%;
}

.hours-expanded {
  margin-top: 20px;
}

.cross-line {
  text-decoration: line-through;
}

.holiday {
  color: #EE0000;
}

td.hours {
  width: 60%;
}

.hours td {
  padding: 5px 0;
}

.hours-toggle {
  display: inline-block;
  margin: 25px 0 0;
  cursor: pointer;
}

.hours-toggle:hover {
  text-decoration: underline;
}

.hours-toggle .hours-toggle-label:before {
  content: 'More';
}

.hours-toggle .hours-toggle-label {
  vertical-align: middle;
  font-size: 14px;
  font-weight: bold;
}

.hours-toggle.less .hours-toggle-label:before {
  content: 'Less';
}

.hours-toggle .expand-icn {
  margin-right: 10px;
  text-decoration: none;
}

.list-wrap {
  border-top: 1px #ddd solid;
  line-height: 30px;
}

.list-wrap ul {
  margin-bottom: 20px;
}

.products-wrapper {
  background-color: #f3f3f3;
  margin-top: 5px;
  margin: 5px 0;
  padding: 30px 20px;
  overflow: hidden;
}

.products-title {
  margin: 0 0 24px;
}

.products-wrapper .paginate {
  top: 100px;
}

.products-wrapper .carousel {
  position: relative;
  overflow: hidden;
  width: 510px;
  margin: 0 auto;
}

.products-wrapper .carousel .products {
  width: 20000em;
  position: relative;
}

.products-wrapper .carousel .product-item {
  float: left;
  margin: 0 15px;
  text-align: left;
}

.product-img-crop {
  width: 140px;
  height: 140px;
  overflow: hidden;
  margin-bottom: 24px;
}

.product-img,
.product-item {
  width: 140px;
}

.bios-wrapper {
  color: #fff;
  background-color: #48413c;
  padding: 30px 20px;
}

.bios-title {
  color: #fff;
  margin: 0 0 24px;
}

.staff-bio {
  margin-top: 24px;
  overflow: hidden;
}

.bio-photo {
  width: 106px;
  height: 106px;
}

.bio-photo {
  float: left;
  overflow: hidden;
}

.bio-details {
  margin-left: 106px;
  padding-left: 20px;
}

.bio-no-photo {
  margin-left: 0;
  padding-left: 0;
}

.bio-name {
  font-size: 18px;
  font-weight: normal;
  font-weight: 100;
}

.bio-title {
  font-size: 14px;
  font-weight: bold;
}

.bio-description {
  font-weight: 100;
  margin-top: 14px;
}

.bios-expand-wrapper {
  margin-top: 24px;
  cursor: pointer;
}

.icn.bios-expand-icn {
  background-color: #fff;
  color: #48413c;
}

.bios-toggle-label {
  vertical-align: middle;
  font-size: 14px;
  font-weight: bold;
  margin-left: 15px;
}

.bios-toggle-label:before {
  content: 'More Bios';
}

.hours-toggle .hours-toggle-label {
  vertical-align: middle;
  font-size: 14px;
  font-weight: bold;
}

.bios-expand-wrapper.less .bios-toggle-label:before {
  content: 'Less Bios';
}

#right-col {
  position: absolute;
  top: -350px;
  left: 660px;
  width: 300px;
  padding: 20px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  background-color: #f3f3f3;
  margin-bottom: 30px;
  color: #363636;
}

.get-directions {
  margin-top: 22px;
}

.get-directions a,
.get-directions a:link,
.get-directions a:active,
.get-directions a:visited {
  font-size: 12px;
  color: #2a71bf;
}

#map {
  margin-bottom: 20px;
}

#nearby-locations .paginate {
  top: 94px;
}

#nearby-locations .carousel {
  position: relative;
  overflow: hidden;
  width: 200px;
  margin: 0 auto;
}

#nearby-locations .carousel ul {
  width: 20000em;
  position: relative;
}

.nearby-location-wrap {
  float: left;
  width: 200px;
}

#nearby-locations a,
#nearby-locations a:visited {
  margin: 0 30px;
  text-decoration: none;
  color: #393939;
}

.nearby-location-details {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  width: 220px;
  padding: 7px 0 17px;
  margin-bottom: 18px;
  line-height: 18px;
  font-size: 14px;
  font-weight: 100;
}

.divider-top {
  border-top: 6px solid #ff3925;
}

#youtube-video {
  height: 224px;
  border-top: 6px solid #ff3925;
  margin: 0 -20px;
}

#youtube-video iframe {
  margin: 20px;
}

#posts {
  margin: 0 -20px;
  padding: 30px 20px;
  font-family: Helvetica;
  font-size: 12px;
  background-color: #f3f3f3;
  max-height: 400px;
  overflow: auto;
}

.post {
  overflow: hidden;
  word-break: break-word;
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px #d3d3d3 solid;
}

.post:last-child {
  border-bottom: none;
  margin-bottom: 0;
  padding-bottom: 0;
}

.post-date {
  float: left;
  width: 70px;
  color: #ff3925;
}

.post-day {
  font-size: 20px;
}

.post-month,
.post-time {
  font-size: 11px;
}

.post-content {
  margin-left: 70px;
}

.post-message {
  text-align: left;
  word-wrap: break-word;
  margin-bottom: 15px;
}

.post-image {
  max-width: 100%;
}

.post-embed {
  margin: 10px 0;
  text-align: left;
  padding-left: 8px;
  border-left: 1px #d3d3d3 solid;
}

.post-embed-title {
  border-bottom: 1px #000 dotted;
  display: inline;
}

.post-embed-title a {
  color: #ff3925;
  font-size: 14px;
  text-decoration: none;
}

.post-embed-subtitle {
  opacity: .8;
  margin: 5px 0;
}

/** Calendars widget styling **/

#calendars {
  max-height: 660px;
  overflow: auto;
  padding: 0 20px;
  margin: 0 -20px;
  font-family: "Helvetica", sans-serif;
}

#calendars .event {
  margin: 30px 0;
}

#calendars .event-date {
  font-size: 14px;
  font-weight: bold;
  color: #ff3925;
}

#calendars .event-divider {
  margin: 15px 0;
  border-bottom: 1px solid #d3d3d3;
}

#calendars .event-time {
  font-weight: bold;
  margin: 10px 0;
}

#calendars .event-name {
  color: #ff3925;
  font-size: 14px;
  margin: 10px 0;
}

#calendars .event-type {
  margin: 10px 0;
}

#calendars .event-fotorama {
  margin: 15px 0;
}

#calendars .event-description {
  margin: 15px 0;
  font-size: 13px;
}

#calendars .event-url-wrapper {
  margin: 15px 0 5px 0;
}

#calendars .event-url-wrapper .event-url {
  color: #d3d3d3;
  text-decoration: none;
  border-bottom: 1px dotted #363636;
}

.locale-switcher a,
.locale-switcher a:visited {
  text-decoration: none;
  color: #0076a3;
  margin-left: 10px;
  line-height: 24px;
  font-size: 14px;
}

.locale-switcher a:hover {
  text-decoration: underline;
  color: #0076a3;
  line-height: 24px;
  font-size: 14px;
}

.locale-switcher {
  background: #fff;
  color: #666666;
  font-size: 14px;
  width: 100%;
  padding: 0 auto;
}
